<h1>Login </h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
<div>
          <label for="username">Username:</label>
          <input size="30"  type="username"  name="username"  [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </div>
        <br>
        <div>
          <label for="pwd">Password:</label>
          <input size="30"  type="password" name="password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </div>
        <br>
        <button type="submit">Login</button>
      </form>

